footer{
    
    max-width:100%;
     height:260px;
     background-color:lightgrey;
     display:flex;
     text-align: center;
     justify-content: center;
 }
 footer .col2{
     padding:10px;
     margin:40px;
 }