*{
    margin:0;
    padding: 0;
    font-family: Century Gothic;
}
nav{
    background:#594848;
    width: 100%;
    overflow: auto;
}
nav img{
    margin-left: 10px;
    float: left;
    height: auto;
    width: 5%;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none ;
}
li{
    margin-top:1%;
    display: flex;
    float: right;
    margin-right: 20px;
}
nav a:hover{
    background:white;
    color: black;
}
nav a {
    width:120px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #594848;
    font-size: 14px;
    color:white;
    padding: 10px 0px;
    font-family: Arial;
}
.start .imgg{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/farmer-bg-3.jpg");
    background-size: cover;
    background-position: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    width:100%;
}
.start .imgg1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/farmer-bg-2.jpg");
    background-size: cover;
    background-position: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width:100%;
}
.imgtext{
    padding-top:20%;
    padding-left:27%;
    color: white;
}
.start .imgg .imgtext input[type=text] {
    padding: 6px;
    width: 18%;
    background: #ddd;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.row{
    display:flex;
}
.columnleft{
    background: #ddd;
    flex: 45%;
}
.columnright{
    flex:55%;
}
.info .row .columnleft .highlights{
    text-align: center;
    padding-top:7%;
    padding-bottom: 8%;
}
.info .row .columnright .highlights{
    text-align: center;
    padding-top:28%;
}
.info .row .columnright .highlights h1{
    font-family: Georgia;
    text-decoration: underline;
}
.info .row .columnright .highlights p{
    padding-top:2%;
}
.courses .row{
    padding-top: 2%;
    display:flex;
    padding-bottom: 1%;
}
.courses .row .c1{
    flex: 25%;
    text-align: center;
}
.courses .row .c2{
    flex: 25%;
    text-align: center;
}
.courses .row .c3{
    flex: 25%;
    text-align: center;
}
.courses .row .c4{
    flex: 25%;
    text-align: center;
}
.courses .row img{
    width: 90%;
    height: 40vh;
}
.courses .row img:hover{
    transform: scale(1.1);
    transition: 0.9s ease;
}
footer{
    max-width:100%;
     height:200px;
     background-color:lightgrey;
     display:flex;
     text-align: center;
     justify-content: center;
     border-radius:10px;;
 }
 footer .col2{
     padding:10px;
     margin:40px;
 }
 .courses a{
     text-decoration: none;
    color: rgb(56, 218, 16);
 }